@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "primeng/resources/themes/fluent-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.bg-dark {
  background-color: #121212 !important;
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --border-radius: 1rem;
}
