<div class="container mt-6">
  <p-card header="Add an album" [style]="{ width: '75rem' }">
    <div class="flex justify-content-between align-items-center">
      <div>
        <div hidden>
          <label>Album ID :</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="currentAlbum.idAlbum"
            name="idAlbum"
            style="width: 25rem"
          />
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Album Title :</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="currentAlbum.title"
            name="title"
            style="width: 25rem"
          />
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Artist :</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="currentAlbum.artist"
            name="artist"
            style="width: 25rem"
          />
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Release Date :</label>
          <input
            pInputText
            type="date"
            [ngModel]="currentAlbum.releaseDate | date : 'yyyy-MM-dd'"
            (ngModelChange)="currentAlbum.releaseDate = $event"
            name="releaseDate"
            style="width: 25rem"
          />
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Genre :</label>
          <input
            pInputText
            type="text"
            [(ngModel)]="currentAlbum.genre"
            name="genre"
            style="width: 25rem"
          />
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Label :</label>

          <p-dropdown
            [options]="labels"
            [(ngModel)]="updatedLabelId"
            optionLabel="labelName"
            optionValue="idLabel"
            name="idLab"
            [style]="{ width: '25rem' }"
            placeholder="Select a label"
          ></p-dropdown>
        </div>
        <div class="mt-2 flex flex-column gap-1">
          <label>Image :</label>
          <input
            type="file"
            pInputText
            (change)="onImageUpload($event)"
            style="width: 25rem"
          />
        </div>
        <div class="mt-5">
          <p-button severity="info" (click)="updateAlbum()">
            Edit Album
          </p-button>
        </div>
      </div>

      <div class="flex justify-content-center align-items-center mx-auto">
        <img [src]="myImage" class="img-fluid w-full" />
      </div>
    </div>
  </p-card>
</div>
